body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

a, a:visited {
    text-decoration: none;
    margin: 0.15rem 0;
    color: rgb(138, 138, 138);
}

a:hover {
    color: blue;
}

ul {
    margin: 0.75rem 0;
}

footer {
    width: 100%;
    background-color: rgb(209, 209, 209);
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    margin-top: 15px;
}

nav {
    background-color: #fbdc75;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

nav ul, footer ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 15px;
}

.content-container {
    align-items: center;
    flex-grow: 2;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 0.75rem;
}

p {
    line-height: 1.4em;
    color: #333;
    margin: 0.15rem 0;
}

.post p a, .post p { 
    text-align: left;
    font-size: .85rem;
}

ul.posts li {
    list-style: none;
}

.bars {
    display: inline-block;
    width:   1.5rem;
    height:  1.5rem;
    background-image: url("/assets/bars.svg");
}

/* .weekly-unsplash-background {
    background: url('https://source.unsplash.com/daily?tree') no-repeat center center/cover;
    height: 100vh;
} */

.glowText{
    text-decoration: underline;
    animation-name: glow;
    -webkit-animation-duration: 4; 
    animation-delay: 2s; 
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
      }
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
      }
}

.arrow-up {
    margin: auto;
    width:   1.5rem;
    height:  1.5rem;
    background-image: url("/assets/arrow-alt-circle-up.svg");
}

.arrow-down {
    margin: auto;
    width:   1.5rem;
    height:  1.5rem;
    background-image: url("/assets/arrow-alt-circle-down.svg");
}